<header>
  <!-- Background image -->
  <div
    id="intro-example"
    class="p-5 text-center bg-image"
    style="background-image: url(assets/home/bg-lectures.webp)"
  >
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.7)">
      <div class="d-flex justify-content-center align-items-center h-100">
        <section class="home fade-in">
          <div class="about-us">
            <p>
              Willkommen auf unserer Landing Page für Pandas-Tutorials! Wir
              freuen uns, dass Sie sich für das Lernen von Pandas interessieren.
            </p>
          </div>
          <div class="image-wrapper">
            <img src="https://wallpaperaccess.com/full/2834459.jpg" />
          </div>
        </section>
      </div>
    </div>
  </div>
  <!-- Background image -->
</header>
