<div class="parallax" style="background-image: url(assets/home/bg-lectures.webp)">
    <div class="fc-mask" style="background-color: rgba(0, 0, 0, 0.7)">
        <nav class="navbar navbar-expand-lg navbar-light fc-lectures-navbar" id="fc-lectures-navbar">
            <div class="container-fluid">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="activeRoute" routerLink="/lectures/lecture-one">Lektion
                            1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="activeRoute" routerLink="/404">Lektion 2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="activeRoute" routerLink="/404">Lektion 3</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="activeRoute" routerLink="/404">Lektion 4</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="card lecture-container">
            <div class="card">
                <div class="card-header">Info</div>
                <div class="card-body">
                    <h5 class="card-title">Series</h5>
                    <p class="card-text">
                        Series und DataFrames sind die zentralen Datenstrukturen in Pandas.
                        Series sind wie standardmäßige Listen in Python, mit dem wichtigen
                        Unterschied, dass Series nur Werte eines einzelnen Datentyps
                        enthalten können.
                    </p>
                    <a class="ripple" href="#!">
                        <img alt="Code Example Series" class="img-fluid rounded"
                            src="assets/lectures/code-series.png" />
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Dataframes</h5>
                    <p class="card-text">
                        Ein DataFrame fasst mehrere Series gleicher Länge zu einer
                        Datentabelle mit Zeilen (Beobachtungen), Spalten (Variablen) und
                        Spaltennamen (Variablennamen) zusammen. Ein reguläres
                        Python-Dictionary mit den Spaltennamen als Keys und den Values in
                        Form von Python-Listen kann in ein DataFrame transfomiert werden:
                    </p>
                    <a class="ripple" href="#!">
                        <img alt="Code Example Series" class="img-fluid rounded"
                            src="assets/lectures/code-dataframe.png" />
                    </a>
                    <p class="card-text">
                        In der praktischen Datenanalyse werden Sie nur selten DataFrames
                        oder Series manuell erstellen, sondern im Computer abgespeicherte
                        Datentabellen aus anderen Formaten, wie Excel oder .csv einlesen.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>