<div id="page" class="site poppins">
    <div class="sidebar">
        <div class="brand">
            <div class="logo">
                <a href="">
                    <span>pandas.</span>tutorials
                </a>
            </div>
            <div class="trigger">
                <a href="javascript:void(0)">
                    <ion-icon name="menu-outline"></ion-icon>
                    <ion-icon name="chevron-back-outline"></ion-icon>
                </a>
            </div>
        </div>
        <div class="navbar">
            <nav>
                <ul>
                    <li>Menü</li>
                    <li>
                        <a href="#" routerLinkActive="active" routerLink="/marken/buchen">
                            <ion-icon name="grid-outline"></ion-icon>
                            <span>Startseite</span>
                        </a>
                    </li>

                    <li class="small">Übungen</li>

                    <li>
                        <a href="#" class="tooltiplink" routerLinkActive="active" routerLink="/benutzerverwaltung"
                            data-title="Benutzermanagement">
                            <ion-icon name="people-outline"></ion-icon>
                            <span>Lektion 1</span>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="tooltiplink" routerLinkActive="active" routerLink="/benutzerverwaltung"
                            data-title="Benutzermanagement">
                            <ion-icon name="people-outline"></ion-icon>
                            <span>Lektion 2</span>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="tooltiplink" routerLinkActive="active" routerLink="/benutzerverwaltung"
                            data-title="Benutzermanagement">
                            <ion-icon name="people-outline"></ion-icon>
                            <span>Lektion 3</span>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="tooltiplink" routerLinkActive="active" routerLink="/benutzerverwaltung"
                            data-title="Benutzermanagement">
                            <ion-icon name="people-outline"></ion-icon>
                            <span>Lektion 4</span>
                        </a>
                    </li>


                    <li class="small">Info</li>
                    <li>
                        <a href="#" class="tooltiplink" routerLinkActive="active" routerLink="/benutzerverwaltung"
                            data-title="Benutzermanagement">
                            <ion-icon name="people-outline"></ion-icon>
                            <span>Bibliotheken</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="tooltiplink" routerLinkActive="active" routerLink="/guest-list"
                            data-title="Gäste Liste">
                            <ion-icon name="footsteps-outline"></ion-icon>
                            <span>Über mich</span>
                        </a>
                    </li>


                </ul>
            </nav>
        </div>

    </div>

</div>