.fc-mask {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
}
.lecture-container {
  display: flex;
  justify-content: center;
  margin-top: 10em;
  margin-bottom: 8em;
  width: 50%;
  height: 100%;
}

.card {
  background-color: rgba(1, 1, 1, 0.6);
  box-shadow: 0px 6px 16px -6px rgba(1, 1, 1, 0.7);
  color: white;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card .text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text p {
  width: 50%;
  text-align: center;
}

.card .text img {
  height: 170px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card .text h3 {
  font-size: 40px;
  font-weight: 400;
}

.card .text p:nth-of-type(1) {
  color: #ca8e1b;
  font-size: 15px;
  margin-top: -5px;
}

.card .text p:nth-of-type(2) {
  margin: 10px;
  width: 90%;
  text-align: center;
}

.card .links {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
}

.card .links i {
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.card .links i:hover {
  color: #ca8e1b;
}

@media only screen and (max-width: 800px) {
  .lecture-container {
    width: 90%;
  }
}
