<div
  class="parallax"
  style="background-image: url(assets/home/bg-lectures.webp)"
>
  <div class="fc-mask" style="background-color: rgba(0, 0, 0, 0.7)">
    <div class="lecture-container">
      <div class="card">
        <div class="text">
          <img src="assets/about-me/picture.jpg" alt="" />
          <h3>Federico Clinaz</h3>
          <p>Fachinformatiker für Daten- und Prozessanalyse</p>
          <p>
            Mein Name ist Federico Clinaz und ich bin Fachinformatiker für
            Daten- und Prozessanalyse. In meiner Freizeit beschäftige ich mich
            gerne mit neuen Technologien und halte mich stets auf dem Laufenden
            über Entwicklungen in meinem Fachgebiet. Ich bin überzeugt, dass es
            in meinem Beruf nie auslernen gibt und freue mich auf die
            Herausforderungen, die die Zukunft noch bringen wird.
          </p>
        </div>
        <div class="links">
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-github"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
