<div class="parallax" style="background-image: url(assets/home/bg-lectures.webp)">
    <div class="fc-mask" style="background-color: rgba(0, 0, 0, 0.7)">
        <div class="lecture-container">
            <div class="card">
                <div class="card-header">Info</div>
                <div class="card-body">
                    <h5 class="card-title">Bald verfügbar</h5>
                    <p class="card-text">
                        Diese Lektion ist zurzeit nicht verfügbar.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>