<!--Start Footer-->
<footer id="footer">
    <div class="text">
        <h2>SMALL PANDAS TUTORIALS</h2>
        <div><i class="fas fa-asterisk"></i></div>
        <p>
            Pandas ist eine leistungsstarke Bibliothek für die Datenanalyse und
            -verarbeitung in Python. Mit Pandas können Sie große Mengen von
            strukturierten und unstrukturierten Daten einfach verarbeiten und
            auswerten.
        </p>
    </div>
    <div class="contact-container">
        <div class="social-media">
            <h3>Follow</h3>
            <div class="links">
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-github"></i></a>
                <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
    </div>
</footer>
<!--End Footer-->